body {
    font-family: "Helvetica Neue";
    width: 750px;
    height: 1000px;
   
  }
  
  h1 {
    font-style: italic;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .info {
    background-color: rgb(241, 121, 141);
    border: 1px solid black;
    height: 1250px;
    width: 700px;
    float: right;
  }
  .p1 {
      padding-left: 50px;
      
  }

  .main {
    line-height: 1em;
    margin-top: 40px;
    padding-left: 30px;

  }
  img {
      float: right;
      padding-right: 40px;
      padding-left: 10px;
  }
  #p2 {
    border: 2px ridge white;
    height: 150px;
   line-height: 1em;
    padding-left: 30px;
    margin-top: 20px;
    background-color: rgb(240, 152, 167);
    
  }
  #table {
      float: right;
      padding-right: 10px;
  }
  .naam {
    width: 700px;
    background-color: rgb(240, 152, 167);
    color: white;
  }
  
  
  
  
  .form {
    display: flex;
    flex-direction: column;
    
  }
  
  .form__item {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
  #description{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .form__label {
    text-align: start;
  }
  
  .form__input {
    text-align: left;
    font-size: 12px;
    border: 1px solid gray;
    padding: 0.5rem;
  }
  
  .form__submit {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .form__item {
      grid-template-columns: 1fr 1fr;
    }
    .form__label {
      text-align: end;
    }
  
    .form__submit {
      align-self: center;
      padding: 1rem;
      font-size: 1.7rem;
      background-color: lightgray;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .body-wrapper {
      width: 1000px;
      padding: 1vw 5vw 3vw 5vw;
    }
  }